$--input-font-size: $font-size-base !default;
$--input-font-color: $text-regular-color !default;
$--input-icon-color: $text-placeholder-color !default;
$--input-background-color: $white-color !default;
$--input-border: $border-base !default;
$--input-border-radius: $border-radius-base !default;
$--input-placeholder-color: $text-placeholder-color !default;
$--input-hover-border: $text-placeholder-color !default;
$--input-focus-border: $primary-color !default;
$--input-clear-hover-color: $text-secondary-color !default;

$--input-width: 140px !default;
$--input-height: 40px !default;

$--input-disabled-fill: $disabled-fill-base-color !default;
$--input-disabled-border: $disabled-border-base-color !default;
$--input-disabled-color: $disabled-color-base-color !default;
$--input-disabled-placeholder-color: $text-placeholder-color !default;

$--input-medium-font-size: 14px !default;
$--input-medium-height: 36px !default;

$--input-small-font-size: 13px !default;
$--input-small-height: 32px !default;

$--input-mini-font-size: 12px !default;
$--input-mini-height: 28px !default;