$--pagination-font-size: 13px !default;
$--pagination-background-color: $white-color !default;
$--pagination-font-color: $text-primary-color !default;
$--pagination-border-radius: 3px !default;
$--pagination-button-color: $text-primary-color !default;
$--pagination-button-width: 35.5px !default;
$--pagination-button-height: 28px !default;
$--pagination-button-disabled-color: $text-placeholder-color !default;
$--pagination-button-disabled-background-color: $white-color !default;
$--pagination-hover-color: $primary-color !default;