$--tag-info-color: $info-color !default;
$--tag-primary-color: $primary-color !default;
$--tag-success-color: $success-color !default;
$--tag-warning-color: $warning-color !default;
$--tag-danger-color: $danger-color !default;
$--tag-font-size: 12px !default;
$--tag-border-radius: 4px !default;
$--tag-padding: 0 10px !default;