$--switch-on-color: $primary-color !default;
$--switch-off-color: $border-base-color !default;
$--switch-font-size: $font-size-base !default;
$--switch-core-border-radius: 10px !default;
$--switch-width: 40px !default;
$--switch-height: 20px !default;
$--switch-button-size: 16px !default;