$--popover-background-color: $white-color !default;
$--popover-font-size: $font-size-base !default;
$--popover-border-color: $border-lighter-color !default;
$--popover-arrow-size: 6px !default;
$--popover-padding: 12px !default;
$--popover-padding-large: 18px 20px !default;
$--popover-title-font-size: 16px !default;
$--popover-title-font-color: $text-primary-color !default;