$--menu-item-font-size: $font-size-base !default;
$--menu-item-font-color: $text-primary-color !default;
$--menu-background-color: $white-color !default;
$--menu-item-hover-fill: $primary-light-color-9 !default;