$--table-border-color: $border-lighter-color !default;
$--table-border: 1px solid $--table-border-color !default;
$--table-font-color: $text-regular-color !default;
$--table-header-font-color: $text-secondary-color !default;
$--table-row-hover-background-color: $background-base-color !default;
$--table-current-row-background-color: $primary-light-color-9 !default;
$--table-header-background-color: $white-color !default;
$--table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, .12) !default;