$--tooltip-fill: $text-primary-color !default;
$--tooltip-color: $white-color !default;
$--tooltip-font-size: 12px !default;
$--tooltip-border-color: $text-primary-color !default;
$--tooltip-arrow-size: 6px !default;
$--tooltip-padding: 10px !default;