$--cascader-menu-font-color: $text-regular-color !default;
$--cascader-menu-selected-font-color: $primary-color !default;
$--cascader-menu-fill: $fill-base !default;
$--cascader-menu-font-size: $font-size-base !default;
$--cascader-menu-radius: $border-radius-base !default;
$--cascader-menu-border: solid 1px $border-light-color !default;
$--cascader-menu-shadow: $box-shadow-light !default;
$--cascader-node-background-hover: $background-base-color !default;
$--cascader-node-color-disabled:$text-placeholder-color !default;
$--cascader-color-empty:$text-placeholder-color !default;
$--cascader-tag-background: #f0f2f5;