$--rate-height: 20px !default;
/// fontSize||Font|1
$--rate-font-size: $font-size-base !default;
/// height||Other|3
$--rate-icon-size: 18px !default;
/// margin||Spacing|2
$--rate-icon-margin: 6px !default;
$--rate-icon-color: $text-placeholder-color !default;